html {
  background-color: whitesmoke;
}
body {
  background-color: whitesmoke;
  align-content: flex-start;
}
.preLoader {
  width: 40px;
  vertical-align: 49%;
  left: 46.5%;
}
.preLoaderContent > .modal-dialog > .modal-content {
  background-color: transparent !important;
  border: 0;
}

.cursor {
  cursor: pointer;
}

.flag {
  width: 15px;
  height: 15px;
}

.callToAction {
  background-color: #ffa500;
  color: "white";
  border: none;
  transition: 0.2s all ease-out;
}

.callToAction:hover {
  background-color: #ffa500;
  opacity: 0.8;
}

.text {
  color: #ffa500;
}

.country:hover {
  color: #ffa500;
  transition: 0.2s all ease-in;
}

._snackbar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 40px;
  transition: 0.43s ease all;
  animation: 0.75s snackIn 1 forwards;
  border-radius: 6px;
  z-index: 500000;
  padding: 20px 25px;
}

._snackbar.close {
  transition: 0.43s ease all;
  animation: 0.75s snackOut 1 forwards;
}

.image {
  height: 120px !important;
  object-fit: cover !important;
}

.accordion-click:focus {
  text-align: center;
  text-decoration: none;
  box-shadow: none;
}

.skel-mask-container {
  position: relative;
}

.skel-mask-navv {
  background: #b5b5b5;
  /*  */
}
.skel-mask {
  background: #e6e6e6;
  /*  */
}

.skel-mask-all {
  right: 0;
}

.category-shadow {
  -webkit-box-shadow: -3px -1px 6px -4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -3px -1px 6px -4px rgba(0, 0, 0, 0.2);
  box-shadow: -3px -1px 6px -4px rgba(0, 0, 0, 0.2);
}

.pc-card-shadow {
  -webkit-box-shadow: -1px -4px 6px -3px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: -1px -4px 6px -3px rgba(0, 0, 0, 0.33);
  box-shadow: -1px -4px 6px -3px rgba(0, 0, 0, 0.33);
}

.card-shadow {
  -webkit-box-shadow: -3px 4px 9px -1px rgba(33, 33, 33, 0.17);
  -moz-box-shadow: -3px 4px 9px -1px rgba(33, 33, 33, 0.17);
  box-shadow: -3px 4px 9px -1px rgba(33, 33, 33, 0.17);
}

.font {
  text-shadow: "2px 4px 6px orange" !important;
}

@keyframes snackIn {
  from {
    display: flex;
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes snackOut {
  from {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  to {
    display: block;
  }
}

.product-title {
  opacity: 0.9;
  font-size: 14px;
  white-space: nowrap;
  margin-top: -6px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
